<%= render 'post_books/leftside', post_book_new: @post_book_new, user: @post_book.user %>

<h1>Book Detail</h1>
<hr>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= image_tag @post_book.user.get_profile_image(80,80) %></td>
      <td><%= link_to "#{@post_book.title}", post_book_path(@post_book.id) %></td>
      <td><%= "#{@post_book.opinion}" %></td>
      <% if @post_book.user_id == current_user.id %>
        <td><%= link_to "Edit", edit_post_book_path(@post_book.id) %></td>
        <td><%= link_to "Destroy", post_book_path(@post_book.id), method: :delete %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<p><%= link_to "#{@post_book.user.name}", @post_book.user %><p>